[submodule "hashes/rapidhash"]
	path = hashes/rapidhash
	url = https://github.com/Nicoshev/rapidhash.git
[submodule "hashes/t1ha"]
	path = hashes/t1ha
	url = https://github.com/erthink/t1ha.git
[submodule "hashes/xxHash"]
	path = hashes/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "hashes/meow_hash"]
	path = hashes/meow_hash
	url = https://github.com/cmuratori/meow_hash.git
[submodule "hashes/cityhash"]
	path = hashes/cityhash
	url = https://github.com/google/cityhash.git
[submodule "hashes/farmhash"]
	path = hashes/farmhash
	url = https://github.com/google/farmhash.git
